.block-local-tasks-block {
  margin: 0 0 20px;
  border-bottom: solid 1px $color-silver;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    margin: 0 10px;
  }
}
